@charset "utf-8";
ul {
	list-style-type: none;
	padding-left: 0;
	margin: 15;
}

p{
	padding:0;
	margin:auto;
}

.checks {
    -webkit-column-count: 6; /* Chrome, Safari, Opera */
    -moz-column-count: 6; /* Firefox */
    column-count: 4;
	width: 100%;
	min-width:200px;
}
h1.diagram-title {
    height: auto;
    text-align: left;
    font-size: 28px;
    padding: .5em .2em;
}
.diagram-title {
    height: 30px;
    padding-top: 8px;
    background-color: #cedde9;
    margin: 0;
    font-size: 14px;
    color: #505050;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
}
#logoTH {
    width: 80px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.box {
    background-color: #FFFFFF;
    float: left;
    margin-top: .5em;
    margin-bottom: .5em;
    width: 50%;
	float:left
}
.box .boxTitle {
    background-color: #CEDDE9;
}
.description {
    font-size: 12px;
    text-align: center;
    margin: .5em;
}
.math{
	width:2%;
	display:inline-block;
}
.result{
	/*width:2%;
	display:inline-block;*/
	text-align:end;
}
.wrapper {
    text-align: center;
}

hr.inbox { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}
/* Dialog */
.dialogue {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.dialogue-header {
    padding: 1px 15px;
    background-color: #cedde9;
    color: white;
}

.dialogue-body {
	padding: 1px 15px;
}

.dialogue-footer {
    padding: 1px 15px;
    background-color: #cedde9;
    color: white;
}

.dialogue-content {
    position: relative;
	background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1.5px solid #888;
    width: 75%; /* Could be more or less, depending on screen size */
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15),0 3px 10px 0 rgba(0,0,0,0.12);
    animation-name: myanimation;
    animation-duration: 0.5s
}

@keyframes myanimation {
	from {top: -250px; opacity: 0}
    to {top: 0; opacity: 1}
}
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}